.container 
  .ui-containers
    .ui-container
      .block-gap 
        h1 Typography:
      .block-gap
        h1.h1 Title 1 level
      .block-gap
        h2.h2 Title 2 level
      .block-gap
        h3.h3 Title 3 level
      .block-gap
        h4.h4 Title 4 level
      .block-gap
        h5.h5 Title 5 level
      .block-gap
        p.p1 paragraph 1 level
      .block-gap
        button.btn1 btn 1 level
    .ui-container
      .block-gap 
        h1 Buttons:
      .block-gap  
        button.button-primary.h5-desk For newlyweds
      .block-gap  
        button.button-secondary.h5-desk For newlyweds
      .block-gap  
        .button-icon-bg.btn1
          +svg('black-plus')
          span.h5-desk For newlyweds
      .block-gap  
        .button-icon-nobg.btn1
          +svg('black-plus')
          span.h5-desk For newlyweds
      .block-gap  
        .button-icon-count.btn1
          +svg('filter-icon')
          span.h5-desk For newlyweds
          p 1
    .ui-container
      .block-gap 
        h1 Inputs:
      .block-gap 
        input(placeholder="Your name").input-ordinary-bg.h5-desk
      .block-gap 
        input(placeholder="Your name").input-ordinary-nobg.h5-desk
      .block-gap 
        .input-wrapper 
          input(placeholder="Vlad").input-label.h5-desk
          label Your name
    .ui-container
      .block-gap 
        h1 Cookies:
      .block-gap 
        .cookie 
          span.h6 We use cookies to make our site better for you.
          button.button-primary.btnm ОК
    .ui-container
      .block-gap 
        h1 Icons:
      .block-gap 
        .p1 black-plus
        +svg('black-plus')
      .block-gap 
        .p1 dots
        +svg('dots')
      .block-gap 
        .p1 grinder
        +svg('grinder')
      .block-gap 
        .p1 market
        +svg('market')
      .block-gap 
        .p1 coffe-machine
        +svg('coffe-machine')
      .block-gap 
        .p1 logo
        +svg('logo')
    .ui-container
      .block-gap 
        h1 Icons:
      .block-gap 
        .p1 cross-inside-circle
        +svg('cross-inside-circle')
      .block-gap 
        .p1 logo2-clipped
        +svg('logo2-clipped')
      .block-gap 
        .p1 instagram
        +svg('instagram')
      .block-gap 
        .p1 scales
        +svg('scales')
      .block-gap 
        .p1 vk
        +svg('vk')
      .block-gap 
        .p1 filter-icon
        +svg('filter-icon')