
.container.container__mobile-nopadding
  section.catalog 
    h1.catalog__title  coffee grinders
    ul.catalog__list 
      li.catalog__el.catalog__el_specialFirst
        .catalog__el-bage
          |450 ml.
        a.catalog__link.plusHover-inner(href="/product", attr='1') 
          .catalog__link-inner
            button.plusHover-btn 
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1880_50)">
                <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                <path d="M25 0H0V25H25V0Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_1880_50)">
                <path d="M13 0H12V25H13V0Z" fill="black"/>
                <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_1880_50">
                <rect width="25" height="25" fill="white"/>
                </clipPath>
                </defs>                          
              </svg>
            .img-blured-wrapper(js-lazy)
              <img id="1" class="catalog-img-primary" data-src="/img/catalog-frame-test.png" alt="Agave image 1">
              img.catalog-img-secondary(alt="Agave image 1" data-src="/img/catalog-frame-4.png")
          .catalog__link-info 
            h2.catalog__link-title.secondary-title-h3
              |Smart kettle-lamp
              <br>
              |REDMOND SkyKettle G203S
            .catalog__link-price.secondary-title-h3 7 500 ₽
      li.catalog__el.catalog__el_ordinary
        .catalog__el-bage
          |450 ml.
        .block-product.plusHover-inner.swiper-slide
          button.plusHover-btn 
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1880_50)">
              <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
              <path d="M25 0H0V25H25V0Z" fill="white"/>
              </mask>
              <g mask="url(#mask0_1880_50)">
              <path d="M13 0H12V25H13V0Z" fill="black"/>
              <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
              </g>
              </g>
              <defs>
              <clipPath id="clip0_1880_50">
              <rect width="25" height="25" fill="white"/>
              </clipPath>
              </defs>
            </svg>
          a.special__link(href="#")
            .special__link-img(js-lazy)
              img.catalog-img-primary(data-src="img/special-img-3.png")
              img.catalog-img-secondary( alt="Agave image 1" data-src="/img/catalog-frame-4.png")
            .special__link-info 
              h3.special__link-title.secondary-title-h3 Smart kettle-lamp <br> REDMOND SkyKettle G203S
              .special__link-price.secondary-title-h3 7 500 ₽
      li.catalog__el.catalog__el_ordinary
        .catalog__el-bage
          |450 ml.
        .block-product.plusHover-inner.swiper-slide
          button.plusHover-btn 
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1880_50)">
              <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
              <path d="M25 0H0V25H25V0Z" fill="white"/>
              </mask>
              <g mask="url(#mask0_1880_50)">
              <path d="M13 0H12V25H13V0Z" fill="black"/>
              <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
              </g>
              </g>
              <defs>
              <clipPath id="clip0_1880_50">
              <rect width="25" height="25" fill="white"/>
              </clipPath>
              </defs>
            </svg>
          a.special__link(href="#") 
            .special__link-img(js-lazy) 
              img.catalog-img-primary(data-src="img/special-img-3.png" js-lazy alt="Agave REDMOND SkyKettle G203S")
              img.catalog-img-secondary( alt="Agave image 1" js-lazy data-src="/img/catalog-frame-4.png")
            .special__link-info 
              h3.special__link-title.secondary-title-h3 Smart kettle-lamp <br> REDMOND SkyKettle G203S
              .special__link-price.secondary-title-h3 7 500 ₽
      li.catalog__el.catalog__el_ordinary
        .catalog__el-bage
          |450 ml.
        .block-product.plusHover-inner.swiper-slide
          button.plusHover-btn 
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1880_50)">
              <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
              <path d="M25 0H0V25H25V0Z" fill="white"/>
              </mask>
              <g mask="url(#mask0_1880_50)">
              <path d="M13 0H12V25H13V0Z" fill="black"/>
              <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
              </g>
              </g>
              <defs>
              <clipPath id="clip0_1880_50">
              <rect width="25" height="25" fill="white"/>
              </clipPath>
              </defs>
            </svg>
          a.special__link(href="#") 
            .special__link-img(js-lazy)
              img.catalog-img-primary(data-src="img/special-img-3.png" js-lazy alt="Agave REDMOND SkyKettle G203S")
              img.catalog-img-secondary( alt="Agave image 1" js-lazy data-src="/img/catalog-frame-4.png")
            .special__link-info 
              h3.special__link-title.secondary-title-h3 Smart kettle-lamp <br> REDMOND SkyKettle G203S
              .special__link-price.secondary-title-h3 7 500 ₽
      li.catalog__el.catalog__el_ordinary
        .catalog__el-bage
          |45000000 ml.
        .block-product.plusHover-inner.swiper-slide
          button.plusHover-btn 
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1880_50)">
              <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
              <path d="M25 0H0V25H25V0Z" fill="white"/>
              </mask>
              <g mask="url(#mask0_1880_50)">
              <path d="M13 0H12V25H13V0Z" fill="black"/>
              <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
              </g>
              </g>
              <defs>
              <clipPath id="clip0_1880_50">
              <rect width="25" height="25" fill="white"/>
              </clipPath>
              </defs>
            </svg>
          a.special__link(href="#") 
            .special__link-img(js-lazy)
              img.catalog-img-primary(data-src="img/special-img-3.png" js-lazy alt="Agave REDMOND SkyKettle G203S")
              img.catalog-img-secondary( alt="Agave image 1" js-lazy data-src="/img/catalog-frame-4.png")
            .special__link-info 
              h3.special__link-title.secondary-title-h3 Smart kettle-lamp <br> REDMOND SkyKettle G203S
              .special__link-price.secondary-title-h3 7 500 ₽
      li.catalog__el.catalog__el_specialLast
        .catalog__el-bage
          |4500000 ml.
        a.catalog__link.plusHover-inner(href="/product", attr='6')
          .catalog__link-inner
            button.plusHover-btn 
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1880_50)">
                <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                <path d="M25 0H0V25H25V0Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_1880_50)">
                <path d="M13 0H12V25H13V0Z" fill="black"/>
                <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_1880_50">
                <rect width="25" height="25" fill="white"/>
                </clipPath>
                </defs>                          
              </svg>
            .img-blured-wrapper(js-lazy)
              <img id="6" class="lazy catalog-img-primary" js-lazy data-src="/img/catalog-frame-test.png" alt="Agave image 1">
              img.lazy.catalog-img-secondary( alt="Agave image 1" js-lazy data-src="/img/catalog-frame-4.png")
          .catalog__link-info 
            h2.catalog__link-title.secondary-title-h3
              |Smart kettle-lamp
              <br>
              |REDMOND SkyKettle G203S
            .catalog__link-price.secondary-title-h3 7 500 ₽
      li.catalog__el.catalog__el_specialLast
        .catalog__el-bage
          |450 ml.
        a.catalog__link.plusHover-inner(href="/product", attr='6')
          .catalog__link-inner
            button.plusHover-btn 
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1880_50)">
                <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                <path d="M25 0H0V25H25V0Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_1880_50)">
                <path d="M13 0H12V25H13V0Z" fill="black"/>
                <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_1880_50">
                <rect width="25" height="25" fill="white"/>
                </clipPath>
                </defs>                          
              </svg>
            .img-blured-wrapper(js-lazy)
              <img id="7" class="catalog-img-primary" js-lazy data-src="/img/catalog-bg.png" alt="Agave image 1">
              img.catalog-img-secondary( alt="Agave image 1" js-lazy data-src="/img/catalog-frame-4.png")
          .catalog__link-info 
            h2.catalog__link-title.secondary-title-h3
              |Smart kettle-lamp
              <br>
              |REDMOND SkyKettle G203S
            .catalog__link-price.secondary-title-h3 7 500 ₽
      li.catalog__el.catalog__el_ordinary
        .catalog__el-bage
          |4500 ml.
        .block-product.plusHover-inner.swiper-slide
          button.plusHover-btn 
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1880_50)">
              <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
              <path d="M25 0H0V25H25V0Z" fill="white"/>
              </mask>
              <g mask="url(#mask0_1880_50)">
              <path d="M13 0H12V25H13V0Z" fill="black"/>
              <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
              </g>
              </g>
              <defs>
              <clipPath id="clip0_1880_50">
              <rect width="25" height="25" fill="white"/>
              </clipPath>
              </defs>
            </svg>
          a.special__link(href="#") 
            .special__link-img(js-lazy)
              img.catalog-img-primary(data-src="img/special-img-3.png" js-lazy alt="Agave REDMOND SkyKettle G203S")
              img.catalog-img-secondary( alt="Agave image 1" js-lazy data-src="/img/catalog-frame-4.png")
            .special__link-info 
              h3.special__link-title.secondary-title-h3 Smart kettle-lamp <br> REDMOND SkyKettle G203S
              .special__link-price.secondary-title-h3 7 500 ₽
      li.catalog__el.catalog__el_specialFirst
        .catalog__el-bage
          |4500 ml.
        a.catalog__link.plusHover-inner(href="/product", attr='6')
          .catalog__link-inner
            button.plusHover-btn 
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1880_50)">
                <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                <path d="M25 0H0V25H25V0Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_1880_50)">
                <path d="M13 0H12V25H13V0Z" fill="black"/>
                <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_1880_50">
                <rect width="25" height="25" fill="white"/>
                </clipPath>
                </defs>                          
              </svg>
            .img-blured-wrapper(js-lazy)
              <img id="9" class="catalog-img-primary" js-lazy data-src="/img/catalog-bg.png" alt="Agave image 1">
              img.catalog-img-secondary( alt="Agave image 1" js-lazy data-src="/img/catalog-frame-4.png")
          .catalog__link-info 
            h2.catalog__link-title.secondary-title-h3
              |Smart kettle-lamp
              <br>
              |REDMOND SkyKettle G203S
            .catalog__link-price.secondary-title-h3 7 500 ₽
    .block-pagination
      a(href="#").block-pagination__btn.block-pagination_prev
        <svg width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M31 8L0.999999 8M0.999999 8L7.5 1M0.999999 8L7.5 15" stroke="black"/>
        </svg>
      a(href="#").block-pagination__btn.block-pagination_next
        <svg width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M31 8L0.999999 8M0.999999 8L7.5 1M0.999999 8L7.5 15" stroke="black"/>
        </svg>
      - var slide = 0
      while slide < 5
        .block-pagination__el 
          a(href="#").pagination-cell 
            |113
        - slide++

a.email-block.header__sale-button.slide-button_icon.slide-button.header__menu-item_mobile(href='#' mailto="info@agave-coffee.online")
  span 
    span info@agave-coffee.online
    
