.fullscreen-slider
  template#slide-tpl
    .swiper-slide.fullscreen-slider__slide()
      .swiper-zoom-container(js-lazy)
        img()
  .fullscreen-slider__close(fs-close)
    svg(xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='none' viewBox='0 0 32 32')
      path(fill='#fff' d='m5.39 25.2 19.8-19.8 1.41 1.4L6.8 26.6z')
      path(fill='#fff' d='m6.81 5.4 19.8 19.8-1.41 1.4L5.4 6.8z')
  .fullscreen-slider__slider.swiper-container
    .fullscreen-slider__wrapper.swiper-wrapper 
  .slider-pagination-navigation
    button.slider-navigation-prev.slide-button.slide-button_horizontal
      span 
        <svg width="58" height="37" viewBox="0 0 58 37" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M58 18.5L2 18.5M2 18.5L19.5 1M2 18.5L19.5 36" stroke="black" stroke-width="1.5"/>
        </svg>
    .swiper-pagination
    button.slider-navigation-next.slide-button.slide-button_horizontal
      span 
        <svg width="58" height="37" viewBox="0 0 58 37" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M58 18.5L2 18.5M2 18.5L19.5 1M2 18.5L19.5 36" stroke="black" stroke-width="1.5"/>
        </svg>
  .gallery-thumbs
    ul.gallery-thumbs__content.swiper-wrapper 