$ms: 369;
$sm-x: 576;
$sm: 767;
$lg: 1023;
$xl: 1200;
$hd: 1439;
$uhd: 1919;

$ms1: $ms + 1;
$sm1: $sm + 1;
$lg1: $lg + 1;
$xl1: $xl + 1;
$hd1: $hd + 1;


$baseTextColor: #161616;
$baseFont: 'Open Sans', 'Inter', 'Helvetica', 'Ubuntu', 'Cantarell', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$Inter: 'Inter';

$Black: #161616;
$ColdStone: #CED0DC;
$DarkGreed: #193536;
$UniversalGreen: #006837;
$Green: #224646;
$LightGreen: #2E5E5E;
$Beige: #D5B38E;
$White: #FFFFFF;
$CadmiumOrange: #EE8020;

$DarkGray: #7B7B7B;
$WhiteGray: #F1F1F1;
$GrayBruh: #E5E5E5;

$White: #ffffff;
$BlackPrimary: #000000;
$DarkToneInk: #121212;
$BlackSheep: #0E0E0E;
$BlackOak: #4F4F4F;
$Lead: #202020;
$Gray: #F2F2F2;
$TrolleyGrey: #828282;
$Silver: #BDBDBD;
$ChristmasSilver: #E0E0E0;
$SunsetBlaze: #E8602A;
$Abundance: #E6E6E6;